<!DOCTYPE html>
<html>
  <head>
    <title>Bitly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <script>
      function onClickSubmit() {
          console.log("arshudiii");
      }
    </script>

    <%
      var shortUrl = shortUrl;
      var url =url;
    %>
  <div style="background-color: black" >
  <img class="img-responsive" src="bitly.png" width="200">
    <center>
    <h1 style="color: chocolate">Welcome to Bitly</h1>
    <p style="color: chocolate">Paste your long URL to shorten it</p>
      <form action="short" method="post">
    <textarea name="url" rows="2" cols="70"><%= url %></textarea>
      <button style="color: chocolate" type="submit">Submit</button><br><br>
      <textarea rows="2" cols="80" disabled><%= shortUrl %></textarea>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br><br>
      </form>
    </center>
    </div>
  </body>
</html>

