<!DOCTYPE html>
<html>
  <head>
    <title>Bitly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
  <img class="img-responsive" src="http://www.mprocopio.com/blog/wp-content/uploads/2010/10/Bit.ly_Logo.png" width="200">
    <center>
    <h1>Welcome to Bitly</h1>
    <p>Paste your URL to shorten it</p>
    <textarea rows="2" cols="80"></textarea>
      <button>Submit</button><br><br>
      <textarea rows="2" cols="80" disabled></textarea>
      <button>Copy</button><br><br>
    </center>
  </body>
</html>
